<div class="flash-message {{ modifier }}" style="position: relative;">
    <div class="container flash-message__inner">
        <div class="flash-message__content">{{ text }}</div>
        {# <button class="close close--small close--white flash-message__close"></button> #}
    </div>
</div>
